@font-face {
   font-family: 'FaceblockLight';
      src: url('/font/UniversLTCYR-45Light.woff') format('woff'),
           url('/font/UniversLTCYR-45Light.ttf') format('truetype');
   font-weight: normal;
}

@font-face {
   font-family: 'FaceblockRoman';
      src: url('/font/UniversLTCYR-55Roman.woff') format('woff'),
           url('/font/UniversLTCYR-55Roman.ttf') format('truetype');
   font-weight: 300;
}


/*
	BASICS
*/
html {
    overflow-x: hidden;
	height: 100%;
}

/*Remove scrollbar*/
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

body {
    width: 320px;
    height: 600px;
    background: #E7E8EB;
    color: #3B3B41;
    font-family: 'FaceblockRoman', Helvetica, sans-serif;
    text-transform: lowercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 0;
    overflow: auto;
}

#header {
	display: flex;
	height: 30px;
	padding: 2px 8px 0px 8px;
	font-size: 26px;
    font-weight: normal;
    letter-spacing: -0.06em;
}

#new-todo {
	background: #E7E8EB;
	color: #3B3B41;
	border: none;
	width: 304px;
	height: 30px;
	margin: -6px 0 0 6px;
	font-family: inherit;
	font-size: 26px;
    font-weight: normal;
    letter-spacing: -0.06em;
	text-transform: lowercase;
	transition: all 0.25s linear;
}

::-webkit-input-placeholder {color: #BBBDC8;}
::-moz-placeholder          {color: #BBBDC8;}/* Firefox 19+ */
:-moz-placeholder           {color: #BBBDC8;}/* Firefox 18- */
:-ms-input-placeholder      {color: #BBBDC8;}

#new-todo:focus {
 	outline: 0 none;
}

#empty {
	display: flex;
/*	background: yellow;*/
	width: 100%;
	height: 400px;
}

#empty img {
	padding: 35px 0 0 0;
	margin: auto auto;	
	width: 218px;
	height: 145px;
}

#remove {
	margin-top: 14px;
}


/*
	OVERRIDE BOOTSTRAP????
*/
#footer {
	width:320px;
	font-size: 14px;
	letter-spacing: -0.04em;
	text-transform: lowercase;
	color: #BBBDC8;
}

#footer > div {
	display:inline-block;
}


/*
	OBJECTS
*/
#values {
	position: relative;
	margin: 44px 0 0 0;
	padding: 0 0 78px 0;
	z-index: 2;	
}

.todo-item {
	display: flex;
	padding: 9px 0 8px 0;
	margin: 0 auto;
	width: 316px;
	height: auto;
	font-size: 14px;
	letter-spacing: -0.04em;
	text-transform: lowercase;
	color: #3B3B41;
	transition: all 0.1s linear;
	box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.45), inset -2px -2px 5px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

.todo-item img {
	width: 24px;
	height: 26px;
	margin: -4px 0 0 1px;
}

.todo-item:hover {
	background-color: #3B3B41 !important; 
	box-shadow: none;
}

.todo-item:hover .todo-content {
	visibility: hidden;
}

.todo-item:hover .todo-searching {
	visibility: hidden;
}

.todo-item:hover .todo-bottom {
	visibility: hidden;
}


.todo-item:hover::before {
	content:"delete";
	margin: 3px 0 0 6px;
	color: #E6E8EB;
	width: 0;
	font-size: 26px;
    font-weight: normal;
    letter-spacing: -0.06em;
    line-height: 12px;
}

.todo-content {
	width: 0;
	padding: 0 0 0 10px;
}

.todo-searching {
	margin: 0 0 0 auto;
	padding: 0 11px 0 0;
	color: #BBBDC8;
}

.todo-bottom {
	display: flex;
	width: 100%;
	padding: 30px 0 0 0;
	margin: auto 0 0 0;
}

.todo-counter {
	margin: auto auto -10px 0;
	width: 50% !important;
	text-align: left;
	font-family: 'FaceblockLight';
	font-size: 56px;
	letter-spacing: -0.03em;
	color: #3B3B41;
}

.todo-trashes {
	margin: auto 7px -3px auto;
	display: flex;
	flex-wrap: wrap-reverse;
	flex-direction: row-reverse;
	width: 50%;
	height: 100%;
}

#footer {
	display: flex;
	position: fixed;
	padding: 0 0 4px 8px;
	bottom: 0;	
	z-index: 1;	
}

#text {
	margin: auto 0 0 0;
	width: 150px;
}

#social {
	margin: auto 15px -5px auto;
}

#social a {
	text-decoration: none;
	padding-left: 4px;
}

#social img {
	width: 18px;
	height: 18px;
}

@keyframes disappear {
	0% { background-color: white; }
	50% { background-color: #fffbc3; }
	100% { background-color: white; }
}

.alert-danger{
	border: 0;
	padding-left:23px;
	border-radius: 3px;
/*	background-color: #FF6477;
	color:white;*/
}

.no-posts {
	margin-left: -5px;
}


/*
	SWITCHER
*/
input.switcher {
  font-family: inherit;
  font-size: 26px;
  font-weight: normal;
  letter-spacing: -0.06em;
  text-transform: inherit;
  color: #3B3B41;;
  height: 30px;
  border: none;
  cursor: hand;
  -webkit-appearance: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  margin: 0 0 0 auto;
}

input.switcher::before {
  content: "Off";
}


input.switcher:checked::before {
  content: "On";
}

input.switcher:focus {
 	outline: 0 none;
}

